{% extends 'base.html' %}
{% block title %}All Cafes{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/css/styles.css">

<div class="px-1 py-2 my-2 text-center">
  <a href="/">
    <img src="static/img/com.gif" alt="com">
</a>
    <a class="nav-link px-lg-3 py-3 py-lg-4" href="/add">
         <button type="button" class="btn btn-warning btn-lg custom-btn">+ add</button>
      </a>
</div>

  <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Coffeehouses</h1>

      <table class="table" style="color: white">
        {% for row in cafes %}
        {% for cafe in cafes %}
<tr>
    <td>{{ cafe[0] }}</td> <!-- Cafe name -->
    <td><a href="{{ cafe[1] }}">Map Link</a></td> <!-- Location -->
    <td>{{ cafe[2] }}</td> <!-- Opening Time -->
    <td>{{ cafe[3] }}</td> <!-- Closing Time -->
    <td>{{ cafe[4] }}</td> <!-- Coffee Rating -->
    <td>{{ cafe[5] }}</td> <!-- Wi-Fi Rating -->
    <td>{{ cafe[6] }}</td> <!-- Power Rating -->
    <td>{{ cafe[7] }}</td> <!-- Review (newly added) -->
</tr>
{% endfor %}
        {% endfor %}
      </table>
      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>

<footer class="footer mb-4">
  <div class="text-center mt-4">
    <div class="crafted-box">
      <a>
        Crafted with ❤️ by Koleksi 77 · 2024 - {{ current_year }}
      </a>
    </div>
  </div>
</footer>

{% endblock %}
